.uk-button {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  color: $violet;
  border-radius: 0;
  border: 2px solid $violet;
  background: white;
}

.uk-button:hover {
  background: $violet;
  border-color: $violet;
  color: $black;
}

.uk-button-primary {
  color: $black;
  background: $violet;
  border-color: $violet;
}

.uk-button-primary:hover {
    background: $white;
    border-color: $violet;
    color: $violet;
}

.uk-container {
  max-width: $max-container-width;
  min-width: $xxs;
}
